Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

ChemicalX
  tests/unit/test_batching.py
Due: black

ChemicalX
  chemicalx/data/drugpairbatch.py
Due: black, flake8

Add docstrings
  chemicalx/data/batchgenerator.py
Due: black, flake8

Correct docs and test
  docs/source/modules/root.rst
  tests/unit/test_batching.py
Due: black

Correct docs and test
  chemicalx/version.py
  setup.py
Due: black, flake8

ChemicalX
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  tests/unit/test_datastructures.py
Due: black, flake8

ChemicalX
  tests/unit/test_datastructures.py
Due: black

ChemicalX
  chemicalx/data/drugfeatureset.py
Due: black, flake8

ChemicalX
  chemicalx/data/drugfeatureset.py
  tests/unit/test_datastructures.py
Due: black, flake8

ChemicalX
  chemicalx/version.py
  setup.py
Due: black, flake8

ChemicalX
  chemicalx/models/deepsynergy.py
  tests/unit/test_models.py
Due: black, flake8

Add dataset resolver around dataset loader class
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
Due: black, flake8

ChemicalX
  tests/unit/test_models.py
Due: black

Re-enable flake8 check
  .github/workflows/main.yaml
  chemicalx/__init__.py
  chemicalx/data/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/labeledtriples.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
Due: black, flake8

Add exaple in Readme.
  README.md
  chemicalx/models/deepsynergy.py
Due: black, flake8

Add exaple in Readme.
  README.md
Due: none

Typo in readme.
  README.md
Due: none

EPGCN
  README.md
  chemicalx/models/epgcnds.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
Due: black, flake8

EPGCN-Tests
  chemicalx/models/epgcnds.py
  tests/unit/test_models.py
Due: black, flake8

EPGCN-Tests
  chemicalx/models/epgcnds.py
Due: black, flake8

EPGCN-Tests
  README.md
Due: none

EPGCN-Tests
  tests/unit/test_models.py
Due: black

Bump Version 0.0.8
  chemicalx/version.py
  setup.py
Due: black, flake8

Update tox.ini
  tox.ini
Due: none

Pass flake8
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
  tox.ini
Due: black, flake8

Add pipeline function
  chemicalx/__init__.py
  chemicalx/pipeline.py
  examples/deepsynergy_examples.py
Due: black, flake8

Add defaults
  chemicalx/models/deepsynergy.py
Due: black, flake8

Generalize pipeline to include epcgnds
  chemicalx/pipeline.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
Due: black, flake8

Add more model hierarchy
  chemicalx/models/__init__.py
  chemicalx/models/base.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
Due: black, flake8

Remove circulars
  chemicalx/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/datasetloader.py
Due: black, flake8
