Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

Clean up typing
  .github/workflows/main.yaml
  chemicalx/data/batchgenerator.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
Due: black, flake8

Remove redundant labels flag
  chemicalx/data/batchgenerator.py
  chemicalx/data/datasetloader.py
  chemicalx/pipeline.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
Due: black, flake8

Update names to reduce diff
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
Due: black

Remove more flags
  tests/unit/test_batching.py
  tests/unit/test_models.py
Due: black

Update test_batching.py
  tests/unit/test_batching.py
Due: black

Update test_models.py
  tests/unit/test_models.py
Due: black

Clean up labeled triples
  chemicalx/data/datasetloader.py
  chemicalx/data/labeledtriples.py
  tests/unit/test_datastructures.py
Due: black, flake8

Update docs
  chemicalx/pipeline.py
Due: black, flake8

Update labeledtriples.py
  chemicalx/data/labeledtriples.py
Due: black, flake8

Clean up feature sets and labels flag (#55)
  .github/workflows/main.yaml
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/labeledtriples.py
  chemicalx/pipeline.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
Due: black, flake8

ChemicalX 0.0.9
  chemicalx/version.py
Due: black, flake8

ChemicalX 0.0.9 (#56)
  chemicalx/version.py
Due: black, flake8

Update tox.ini
  tox.ini
Due: none

Update class hierarchy for dataset loader
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
Due: black, flake8

Class usage cleanup
  chemicalx/data/datasetloader.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_models.py
Due: black, flake8

Provide base class for dataset loaders (#59)
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_models.py
Due: black, flake8

FUN
  tests/unit/test_dataset.py
Due: black

Merge test correction
  tests/unit/test_dataset.py
Due: black

Move some code into main package
  chemicalx/data/utils.py
  data_cleaning/drugbank_ddi_cleaner.py
  data_cleaning/oncopolypharmacology_cleaner.py
  data_cleaning/twosides_cleaner.py
  data_cleaning/utils.py
Due: black, flake8

Update drugbank_ddi_cleaner.py
  data_cleaning/drugbank_ddi_cleaner.py
Due: black

Make oncopolypharmacology dataset more reproducible
  chemicalx/data/__init__.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/utils.py
  data_cleaning/oncopolypharmacology_cleaner.py
  data_cleaning/utils.py
  dataset/oncopolypharmacology/context_set.json
  dataset/oncopolypharmacology/drug_set.json
  dataset/oncopolypharmacology/labeled_triples.csv
Due: black, flake8

Cleanup flake8/mypy
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  chemicalx/data/utils.py
  data_cleaning/utils.py
Due: black, flake8

Fix views, add metric selection, add synergy example
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/pipeline.py
  examples/deepsynergy_synergy_example.py
  setup.py
Due: black, flake8

Cleanup and add pystow
  chemicalx/data/datasetloader.py
  chemicalx/data/utils.py
  data_cleaning/.DS_Store
  data_cleaning/utils.py
  setup.py
Due: black, flake8

Delete .DS_Store
  data_cleaning/.DS_Store
Due: none

Update setup.py
  setup.py
Due: black

Update datasetloader.py
  chemicalx/data/datasetloader.py
Due: black, flake8

Simplify installation
  pyproject.toml
  setup.py
  tox.ini
Due: black

Add mock data
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset/context.tsv
  tests/unit/test_dataset/drug_set.json
  tests/unit/test_dataset/labeled_triples.tsv
Due: black, flake8

Update format and mocks
  chemicalx/data/datasetloader.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset/context.tsv
  tests/unit/test_dataset/drug_set.json
  tests/unit/test_dataset/features.tsv
  tests/unit/test_dataset/labels.tsv
  tests/unit/test_dataset/structures.tsv
Due: black, flake8

Use classvars to enable hacking the names
  chemicalx/data/datasetloader.py
  tests/unit/test_dataset/contexts.tsv
Due: black, flake8

Add additional datasets (#61)
  chemicalx/data/__init__.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/utils.py
  chemicalx/pipeline.py
  data_cleaning/utils.py
  examples/deepsynergy_synergy_example.py
  setup.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset/contexts.tsv
  tests/unit/test_dataset/features.tsv
  tests/unit/test_dataset/labels.tsv
  tests/unit/test_dataset/structures.tsv
  tests/unit/test_models.py
Due: black, flake8

update: Add deepddi model
  chemicalx/models/deepddi.py
Due: black, flake8
