Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black -l 120 chemicalx/.

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8 --max-line-length 120

TwoSides and DeepDDI
  chemicalx/data/datasetloader.py
Due: black, flake8

Isort and Black
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  tests/unit/test_dataset.py
Due: black, flake8

Link documentation
  docs/source/index.rst
  docs/source/notes/data_processing.rst
  tests/unit/test_dataset.py
Due: black

Link documentation
  docs/source/notes/data_processing.rst
Due: none

Doc8
  docs/requirements_1.txt
  docs/source/notes/data_processing.rst
Due: none

Doc8
  docs/source/notes/data_processing.rst
Due: none

Doc8
  tests/unit/test_dataset.py
Due: black

Processing
  docs/source/notes/data_processing.rst
Due: none

Cleanup
  tests/unit/test_dataset.py
Due: black

DC
  data_cleaning/drugbank_ddi_cleaner.py
  data_cleaning/twosides_cleaner.py
Due: black

MANIFEST pruning of cleaners
  MANIFEST.in
Due: none

Data
  tests/unit/test_dataset.py
Due: black

fix-unit-test
  tests/unit/test_dataset.py
Due: black

fix-unit-test (#51)
  tests/unit/test_dataset.py
Due: black

Add caching on dataset getters
  chemicalx/data/datasetloader.py
Due: black, flake8

Add count properties and summarize function to dataset
  chemicalx/data/datasetloader.py
Due: black, flake8

Standardize names, remove requirements for default values, and load example parameters from dataset
  chemicalx/data/labeledtriples.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tests/unit/test_models.py
Due: black, flake8

Reduce reload of datasets
  chemicalx/models/__init__.py
  tests/unit/test_models.py
Due: black, flake8

Reorganize batching
  chemicalx/data/batchgenerator.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/drugpairbatch.py
  chemicalx/pipeline.py
  tests/unit/test_batching.py
  tests/unit/test_models.py
Due: black, flake8

Update project meta
  .gitignore
  tox.ini
Due: none

More cleanup
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/drugpairbatch.py
  chemicalx/data/labeledtriples.py
  tests/unit/test_datastructures.py
Due: black, flake8

Solve 69 issue
  chemicalx/constants.py
  chemicalx/models/epgcnds.py
  examples/epgcnds_examples.py
  tests/unit/test_models.py
Due: black, flake8

Switch to dataclass
  chemicalx/data/drugpairbatch.py
Due: black, flake8

Add constant lookup
  chemicalx/constants.py
Due: black, flake8

Expose dataset properties (#52)
  chemicalx/constants.py
  chemicalx/data/datasetloader.py
  chemicalx/data/labeledtriples.py
  chemicalx/models/__init__.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tests/unit/test_models.py
Due: black, flake8

Simplify usage for pipeline
  chemicalx/data/datasetloader.py
  chemicalx/pipeline.py
  tests/unit/test_batching.py
Due: black, flake8

Cut final tests
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  tests/unit/test_models.py
Due: black, flake8

Speed up tests with setUpClass
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
Due: black

Remove unnecessary functions
  chemicalx/data/contextfeatureset.py
  chemicalx/data/drugfeatureset.py
  tests/unit/test_datastructures.py
Due: black, flake8

Update batchgenerator.py
  chemicalx/data/batchgenerator.py
Due: black, flake8

Pass CI
  chemicalx/data/datasetloader.py
  tests/unit/test_batching.py
Due: black, flake8

Improve public interface and docs
  chemicalx/data/datasetloader.py
  tests/unit/test_batching.py
Due: black, flake8

Reorganize batching (#54)
  .gitignore
  chemicalx/data/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/drugpairbatch.py
  chemicalx/pipeline.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_models.py
  tox.ini
Due: black, flake8

Clean up feature sets
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  tests/unit/test_datastructures.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: chemicalx/. and \.py$
