Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

Dataset outline
  docs/source/modules/root.rst
Due: none

Dataset outline
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
  tests/unit/test_layers.py
Due: black

Dataset outline
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
Due: black

Dataset outline
  tests/integration/test_layers.py
Due: black

Dataset outline
  setup.py
Due: black

README.md
  README.md
Due: none

Docs update
  docs/source/modules/root.rst
Due: none

Docs update
  docs/source/modules/root.rst
  setup.py
Due: black

Docs update
  chemicalx/dataset/basedataset.py
  chemicalx/dataset/zhangddi.py
Due: black, flake8

Docs update
  chemicalx/dataset/oncolypharm.py
Due: black, flake8

Doc update
  docs/source/modules/root.rst
Due: none

Doc update
  tests/unit/test_datastructures.py
Due: black

Doc update
  chemicalx/data/contextfeatureset.py
  chemicalx/data/labelset.py
Due: black, flake8

Doc update
  chemicalx/data/drugfeatureset.py
  tests/unit/test_datastructures.py
Due: black, flake8

Doc update
  tests/unit/test_dataset.py
Due: black

Doc update
  chemicalx/dataset/basedataset.py
  chemicalx/dataset/chchminer.py
  chemicalx/dataset/dpddione.py
  chemicalx/dataset/drugcomb.py
  chemicalx/dataset/drugcombdb.py
  chemicalx/dataset/oncolypharm.py
  chemicalx/dataset/synergyxdb.py
  chemicalx/dataset/twosides.py
  chemicalx/dataset/zhangddi.py
  tests/unit/test_dataset.py
Due: black, flake8

Doc update
  tests/unit/test_models.py
Due: black

Release
  setup.py
Due: black

Release
  README.md
Due: none

Readme
  README.md
Due: none

Update contribution instructions
  CONTRIBUTING.md
Due: none

Fix name of PR template file
  pull_request_template.md
Due: none

Fix runs
  .github/workflows/main.yaml
Due: none

Fix runs
  setup.py
Due: black

ChemicalX
  setup.py
Due: black

Tox merge
  .github/workflows/main.yaml
Due: none

Tox merge
  setup.py
Due: black

Change versioning
  .github/workflows/main.yaml
Due: none
