Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black -l 120 chemicalx/.

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8 --max-line-length 120

Add additional pipeline functionality
  chemicalx/pipeline.py
Due: black, flake8

Add docs
  README.md
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  docs/source/index.rst
  docs/source/modules/pipeline.rst
Due: black, flake8

Update base.py
  chemicalx/models/base.py
Due: black, flake8

Update datasetloader.py
  chemicalx/data/datasetloader.py
Due: black, flake8

Update documentation build (#38)
  .github/workflows/main.yaml
  .gitignore
  chemicalx/data/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  docs/Makefile
  docs/requirements_1.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules/root.rst
  docs/source/notes/installation.rst
  docs/source/notes/introduction.rst
  docs/source/notes/resources.rst
  readthedocs.yaml
  setup.py
  tox.ini
Due: black, flake8

Update __init__.py
  chemicalx/data/__init__.py
Due: black, flake8

Add missing docs
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
Due: black, flake8

Add unified training and evaluation pipeline (#32)
  README.md
  chemicalx/__init__.py
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
  chemicalx/models/__init__.py
  chemicalx/models/base.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/pipeline.py
  docs/source/index.rst
  docs/source/modules/pipeline.rst
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tests/unit/test_models.py
Due: black, flake8

ChemicalXReadTheDocs
  docs/source/conf.py
Due: black

RTD
  docs/requirements_1.txt
  readthedocs.yaml
Due: none

RTD (#39)
  docs/requirements_1.txt
  readthedocs.yaml
Due: none

RTD
  readthedocs.yaml
Due: none

Adding Default Read The Docs Path (#40)
  readthedocs.yaml
Due: none

RTD
  docs/requirements_1.txt
Due: none

Adding the autodoc hinting (#41)
  docs/requirements_1.txt
Due: none

Fix atomodapi and mocking
  docs/requirements_1.txt
  docs/source/conf.py
Due: black

Fix atomodapi and mocking
  docs/requirements_1.txt
  readthedocs.yaml
Due: none

Fix atomodapi and mocking
  readthedocs.yaml
Due: none

Fix atomodapi and mocking
  docs/requirements_1.txt
Due: none

Out-channel-fixes
  chemicalx/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  tests/unit/test_models.py
Due: black, flake8

black-fixes
  chemicalx/models/epgcnds.py
Due: black, flake8

EPGCNDS fix
  chemicalx/models/epgcnds.py
Due: black, flake8

Update CI
  .github/workflows/main.yaml
  MANIFEST.in
  setup.cfg
  setup.py
  tox.ini
Due: black

EPGCNDS fix
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
Due: black, flake8

Fix typos
  .github/workflows/main.yaml
Due: none

Update main.yaml
  .github/workflows/main.yaml
Due: none

DeepCCI removal and out channel parameters (#43)
  chemicalx/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  tests/unit/test_models.py
Due: black, flake8

Update CI (#44)
  .github/workflows/main.yaml
  MANIFEST.in
  setup.cfg
  setup.py
  tox.ini
Due: black

README
  README.md
Due: none

README (#45)
  README.md
Due: none

Add additional model tests
  tests/unit/test_models.py
Due: black

Update tox.ini
  tox.ini
Due: none

Batch Generator Defaults
  chemicalx/data/batchgenerator.py
Due: black, flake8

Add additional model tests (#46)
  tests/unit/test_models.py
  tox.ini
Due: black

TwoSides and DeepDDI
  chemicalx/data/__init__.py
  chemicalx/data/datasetloader.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: chemicalx/. and \.py$
