Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

Add ref to matchmaker
  chemicalx/models/matchmaker.py
Due: black, flake8

Implement MatchMaker model (#67)
  chemicalx/models/matchmaker.py
  examples/matchmaker_examples.py
  tests/unit/test_models.py
Due: black, flake8

Simplify existing models
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/models/matchmaker.py
Due: black, flake8

Update epgcnds.py
  chemicalx/models/epgcnds.py
Due: black, flake8

Simplify existing models (#69)
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/models/matchmaker.py
Due: black, flake8

Standardize documentation style with `darglint`
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/labeledtriples.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/models/matchmaker.py
  setup.cfg
  tox.ini
Due: black, flake8

Make number of relationship configurable
  chemicalx/models/gcnbmp.py
Due: black, flake8

little help of black for linting
  chemicalx/models/gcnbmp.py
Due: black, flake8

Cleaning upuseless imports
  chemicalx/models/gcnbmp.py
Due: black, flake8

Update pull_request_template.md
  pull_request_template.md
Due: none

Sharing attention between right and left side
  chemicalx/models/gcnbmp.py
  examples/gcnbmp_examples.py
Due: black, flake8

Adding reference to GCNBMP docstring
  chemicalx/models/gcnbmp.py
Due: black, flake8

black
  tests/unit/test_models.py
Due: black

RST fix
  chemicalx/models/deepdrug.py
Due: black, flake8

more pythonic loop + swap i to _
  chemicalx/models/deepdrug.py
Due: black, flake8

removed context feat support in DeepDrug
  chemicalx/models/deepdrug.py
Due: black, flake8

removed context handling from testing DeepDrug
  tests/unit/test_models.py
Due: black

fixed examples DeepDrug, no context handling, decreased epochs 100->20
  examples/deepdrug_examples.py
Due: black

Type hinting everything
  chemicalx/models/gcnbmp.py
Due: black, flake8

Added example file for running mhcaddi
  examples/mhcaddi_examples.py
Due: black

Unpacking method for MHCADDI
  chemicalx/models/mhcaddi.py
Due: black, flake8

Updated .gitignore
  .gitignore
  chemicalx/models/mhcaddi.py
  examples/mhcaddi_examples.py
Due: black, flake8

MHCADDI full model
  chemicalx/models/mhcaddi.py
Due: black, flake8

removed unused import
  chemicalx/models/deepdrug.py
Due: black, flake8

Fixing docstring in example
  examples/gcnbmp_examples.py
Due: black

- Removing type hints in docstrings as they were added to signatures - Chunked iteration of the BMP backbone for better readability
  chemicalx/models/gcnbmp.py
Due: black, flake8

Ading more-itertools as a dependecy
  setup.py
Due: black

Using pairwise for encoder construction
  chemicalx/models/gcnbmp.py
Due: black, flake8

Standardize documentation style with `darglint` (#70)
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/labeledtriples.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/models/matchmaker.py
  pull_request_template.md
  setup.cfg
  tox.ini
Due: black, flake8

Adding missing docstrings
  chemicalx/models/gcnbmp.py
Due: black, flake8

Begin adding proper citations
  chemicalx/models/caster.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
Due: black, flake8

Add doctests for models
  chemicalx/models/caster.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
  tests/unit/test_models.py
Due: black, flake8

Add citation format check
  tests/unit/test_models.py
Due: black

Update test_models.py
  tests/unit/test_models.py
Due: black

Add several models' citations
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
Due: black, flake8

Finish adding docs
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
  tests/unit/test_models.py
Due: black, flake8

Update citations and add additional testing (#72)
  chemicalx/models/caster.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
  tests/unit/test_models.py
Due: black, flake8

Fixing linting and precommit hook
  .pre-commit-config.yaml
  chemicalx/models/gcnbmp.py
  setup.py
Due: black, flake8

Fixing the citation back to what is in main
  chemicalx/models/gcnbmp.py
Due: black, flake8
