Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  stages:
  - commit
  language: system
  entry: black -l 120 chemicalx/.

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8 --max-line-length 120

Setup
  MANIFEST.in
  dev_setup.sh
  pull_request_templated.md
  readthedocs.yaml
  tox.ini
Due: none

ChemicalX
  images/pair_scoring.jpg
Due: none

Logo
  images/chemicalx_logo.jpg
Due: none

Method names
  README.md
Due: none

Method names
  logo_font/Lazarrous.ttf
Due: none

DeepSynergy
  README.md
Due: none

ChemicalX
  README.md
Due: none

Base
  chemicalx/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/audnnsynergy.py
  chemicalx/models/caster.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/dpddi.py
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrhgnn.py
  chemicalx/models/ssiddi.py
Due: black, flake8

Devops
  .github/workflows/main.yaml
Due: none

Devops
  tox.ini
Due: none

Devops
  .pre-commit-config.yaml
  chemicalx/__init__.py
  tox.ini
Due: black, flake8

Devops
  pyproject.toml
Due: none

Devops
  setup.py
  tox.ini
Due: black

Devops
  chemicalx/models/deepddi.py
Due: black, flake8

Devops
  tests/integration/test_layers.py
Due: black

Update README.md
  README.md
Due: none

Update tox
  .pre-commit-config.yaml
  chemicalx/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/audnnsynergy.py
  chemicalx/models/caster.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/dpddi.py
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrhgnn.py
  chemicalx/models/ssiddi.py
  dev_setup.sh
  setup.py
  tests/integration/test_layers.py
Due: black, flake8

Update tox
  .pre-commit-config.yaml
Due: none

Update tox
  tests/integration/test_layers.py
  tox.ini
Due: black

Update tox
  tox.ini
Due: none

Update tox
  chemicalx/__init__.py
Due: black, flake8

Update tox
  chemicalx/__init__.py
  tox.ini
Due: black, flake8

Update tox
  .pre-commit-config.yaml
  tests/integration/test_layers.py
Due: black

Update tox
  chemicalx/models/audnnsynergy.py
  tests/integration/test_layers.py
Due: black, flake8

Update tox
  tests/integration/test_layers.py
Due: black

Update tox
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: chemicalx/. and \.py$
