Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

ReadTheDocs
  docs/Makefile
  docs/index.html
  docs/requirements_1.txt
  docs/source/_static/css/custom.css
  docs/source/_static/img/chemicalx.jpg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules/root.rst
  docs/source/notes/installation.rst
  docs/source/notes/introduction.rst
  docs/source/notes/resources.rst
Due: black

ReadTheDocs
  docs/source/conf.py
Due: black

ReadTheDocs
  docs/source/modules/root.rst
Due: none

Papers
  docs/source/notes/resources.rst
Due: none

Papers
  README.md
  chemicalx/models/__init__.py
  chemicalx/models/mrgnn.py
Due: black, flake8

Papers
  tests/integration/test_layers.py
Due: black

Import models mrgnn fix
  chemicalx/__init__.py
Due: black, flake8

Import models mrgnn fix
  tests/integration/test_layers.py
Due: black

Import models mrgnn fix
  docs/source/notes/resources.rst
Due: none

Docs
  docs/source/notes/resources.rst
Due: none

Corrections
  docs/source/notes/resources.rst
Due: none

ChemicalX
  docs/source/notes/resources.rst
Due: none

ChemicalX
  docs/source/notes/installation.rst
Due: none

Dataset outline
  chemicalx/data/__init__.py
  chemicalx/datasets/__init_.py
  chemicalx/datasets/chchminer.py
  chemicalx/datasets/dpddi.py
  chemicalx/datasets/drugcomb.py
  chemicalx/datasets/drugcombdb.py
  chemicalx/datasets/oncolypharm.py
  chemicalx/datasets/synergyxdb.py
  chemicalx/datasets/twosides.py
  chemicalx/datasets/zhangddi.py
Due: black, flake8

Dataset outline
  chemicalx/datasets/__init_.py
Due: black, flake8

Dataset outline
  chemicalx/__init__.py
  chemicalx/data/__init__.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/labelset.py
  chemicalx/dataset/__init_.py
  chemicalx/dataset/chchminer.py
  chemicalx/dataset/dataset.py
  chemicalx/dataset/dpddi.py
  chemicalx/dataset/drugcomb.py
  chemicalx/dataset/drugcombdb.py
  chemicalx/dataset/oncolypharm.py
  chemicalx/dataset/synergyxdb.py
  chemicalx/dataset/twosides.py
  chemicalx/dataset/zhangddi.py
Due: black, flake8

Dataset outline
  chemicalx/__init__.py
Due: black, flake8

Dataset outline
  chemicalx/dataset/__init_.py
  chemicalx/dataset/dpddione.py
Due: black, flake8

Dataset outline
  chemicalx/__init__.py
  chemicalx/dataset/__init_.py
  chemicalx/dataset/basedataset.py
  docs/source/modules/root.rst
Due: black, flake8

Dataset outline
  chemicalx/dataset/__init__.py
Due: black, flake8
