Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

Change versioning
  tests/unit/test_datastructures.py
Due: black

Change versioning
  .github/workflows/main.yaml
Due: none

Change versioning
  docs/requirements_1.txt
Due: none

Read the docs reqs
  docs/requirements_1.txt
Due: none

Rerun docs
  docs/requirements_1.txt
Due: none

Context Feature Set Basic Functionalities
  chemicalx/data/contextfeatureset.py
Due: black, flake8

Context Feature Set Basic Functionalities
  tests/unit/test_datastructures.py
Due: black

Remove
  chemicalx/data/contextfeatureset.py
  tests/unit/test_datastructures.py
Due: black, flake8

Remove
  tests/unit/test_datastructures.py
Due: black

Remove
  chemicalx/data/contextfeatureset.py
Due: black, flake8

Bump Version
  setup.py
Due: black

Bump Version
  README.md
Due: none

Bump Version
  docs/source/notes/installation.rst
Due: none

DrugSet
  chemicalx/__init__.py
  chemicalx/data/__init__.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/dataset/__init__.py
  chemicalx/dataset/basedataset.py
  chemicalx/dataset/chchminer.py
  chemicalx/dataset/dpddione.py
  chemicalx/dataset/drugcomb.py
  chemicalx/dataset/drugcombdb.py
  chemicalx/dataset/oncolypharm.py
  chemicalx/dataset/synergyxdb.py
  chemicalx/dataset/twosides.py
  chemicalx/dataset/zhangddi.py
  docs/source/modules/root.rst
  tests/unit/test_dataset.py
Due: black, flake8

DrugSet
  chemicalx/data/drugfeatureset.py
Due: black, flake8

DrugSet
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
Due: black

DrugSet
  tests/unit/test_dataset.py
Due: black
