Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

update: Add deepddi examples
  examples/deepddi_examples.py
Due: black

update: Add deepddi test case
  tests/unit/test_models.py
Due: black

Remove check box that's automated with CI
  pull_request_template.md
Due: none

Remove check box that's automated with CI (#64)
  pull_request_template.md
Due: none

Update setup configuration
  setup.cfg
  setup.py
  tox.ini
Due: black

Update to src layout
  src/chemicalx/__init__.py
  src/chemicalx/constants.py
  src/chemicalx/data/__init__.py
  src/chemicalx/data/batchgenerator.py
  src/chemicalx/data/contextfeatureset.py
  src/chemicalx/data/datasetloader.py
  src/chemicalx/data/drugfeatureset.py
  src/chemicalx/data/drugpairbatch.py
  src/chemicalx/data/labeledtriples.py
  src/chemicalx/models/__init__.py
  src/chemicalx/models/base.py
  src/chemicalx/models/caster.py
  src/chemicalx/models/deepddi.py
  src/chemicalx/models/deepdds.py
  src/chemicalx/models/deepdrug.py
  src/chemicalx/models/deepsynergy.py
  src/chemicalx/models/epgcnds.py
  src/chemicalx/models/gcnbmp.py
  src/chemicalx/models/matchmaker.py
  src/chemicalx/models/mhcaddi.py
  src/chemicalx/models/mrgnn.py
  src/chemicalx/models/ssiddi.py
  src/chemicalx/pipeline.py
  src/chemicalx/version.py
Due: black, flake8

Update setup.cfg
  setup.cfg
Due: none

Update readthedocs.yaml
  readthedocs.yaml
Due: none

Style: deepddi model
  chemicalx/models/deepddi.py
Due: black, flake8

Style: deepddi_examples.py
  examples/deepddi_examples.py
Due: black

linting
  chemicalx/models/gcnbmp.py
  examples/gcnbmp_examples.py
Due: black, flake8

GCNBMP Scatter Reduction fix
  chemicalx/models/gcnbmp.py
Due: black, flake8

Using Rel Conv Layers instead of RGCN Model (avoid unecessary sum readouts)
  chemicalx/models/gcnbmp.py
  examples/gcnbmp_examples.py
Due: black, flake8

DeepSynergy
  chemicalx/models/gcnbmp.py
  chemicalx/pipeline.py
  deepsynergy_examples.py
  examples/epgcnds_examples.py
  exp.py
Due: black, flake8

Revert "DeepSynergy"
  chemicalx/models/gcnbmp.py
  chemicalx/pipeline.py
  deepsynergy_examples.py
  examples/epgcnds_examples.py
  exp.py
Due: black, flake8

Black update conformity
  examples/epgcnds_examples.py
  tests/unit/test_models.py
Due: black

Black update conformity (#66)
  examples/epgcnds_examples.py
  tests/unit/test_models.py
Due: black

Added docstrings and fixed highway update implementation
  chemicalx/models/gcnbmp.py
Due: black, flake8

Implement MatchMaker model
  chemicalx/models/matchmaker.py
  examples/matchmaker_examples.py
  tests/unit/test_models.py
Due: black, flake8

Update tox.ini
  tox.ini
Due: none

Fix typo
  chemicalx/models/matchmaker.py
Due: black, flake8

Fix typo again
  chemicalx/models/matchmaker.py
Due: black, flake8

Split forward into helper methods to remove duplication
  chemicalx/models/matchmaker.py
Due: black, flake8

Lint them all
  chemicalx/models/matchmaker.py
  tests/unit/test_models.py
Due: black, flake8

isort
  chemicalx/models/deepdrug.py
Due: black, flake8

fixed testing without context
  tests/unit/test_models.py
Due: black

fixed test setting (context_channels)
  tests/unit/test_models.py
Due: black

WIP: model forward pass works, not tested
  chemicalx/models/deepdrug.py
Due: black, flake8

added dropout and made context feats optional
  chemicalx/models/deepdrug.py
Due: black, flake8

WIP: made DeepDrug example, not tested
  examples/deepdrug_examples.py
Due: black

docstring update
  chemicalx/models/deepdrug.py
Due: black, flake8

deepdrug self attribute fix
  chemicalx/models/deepdrug.py
Due: black, flake8

added DeepDrug unit test
  tests/unit/test_models.py
Due: black

added dropout and batch norm
  chemicalx/models/deepdrug.py
Due: black, flake8

unpack method update (when no context feats used)
  chemicalx/models/deepdrug.py
Due: black, flake8

moved to using layers only, not GCN torchdrug model
  chemicalx/models/deepdrug.py
Due: black, flake8

docstring
  chemicalx/models/deepdrug.py
Due: black, flake8

More lint
  chemicalx/models/matchmaker.py
Due: black, flake8

Remove comments from example
  examples/matchmaker_examples.py
Due: black
