Repository AstraZeneca/chemicalx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black -l 120 chemicalx/.
        types: [python]

      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8 --max-line-length 120
        types: [python]
        files: chemicalx/.

Remove circulars
  chemicalx/data/batchgenerator.py
Due: black, flake8

Switch forwarder based on base class
  chemicalx/pipeline.py
Due: black, flake8

Lint
  chemicalx/models/__init__.py
  chemicalx/models/base.py
  chemicalx/pipeline.py
Due: black, flake8

Update base.py
  chemicalx/models/base.py
Due: black, flake8

Remove default kwargs
  chemicalx/models/deepsynergy.py
Due: black, flake8

Add missing import
  chemicalx/models/epgcnds.py
Due: black, flake8

Remove circular imports (#31)
  chemicalx/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/datasetloader.py
Due: black, flake8

Update docs
  chemicalx/pipeline.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
Due: black, flake8

Change model nomenclature
  chemicalx/models/audnnsynergy.py
  chemicalx/models/base.py
  chemicalx/models/caster.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/dpddi.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
Due: black, flake8

Make it possible to specify loss and optimizer
  chemicalx/pipeline.py
Due: black, flake8

Enforce more usage of kwargs
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  examples/epgcnds_examples.py
Due: black, flake8

Cleanup testing configuration
  .github/workflows/main.yaml
  setup.py
  tox.ini
Due: black

Add missing docs
  chemicalx/models/audnnsynergy.py
Due: black, flake8

Fix names
  .github/workflows/main.yaml
  tox.ini
Due: none

Add pipeline tests
  tests/unit/test_models.py
Due: black

Make mypy happier
  chemicalx/pipeline.py
Due: black, flake8

Cleanup testing configuration (#33)
  .github/workflows/main.yaml
  setup.py
  tox.ini
Due: black

Pass F40*
  chemicalx/__init__.py
  chemicalx/data/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/drugfeatureset.py
  chemicalx/models/epgcnds.py
  tox.ini
Due: black, flake8

Begin adding docs
  README.md
  chemicalx/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/models/caster.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/dpddi.py
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
  chemicalx/version.py
  tox.ini
Due: black, flake8

More docs
  chemicalx/models/audnnsynergy.py
  chemicalx/models/base.py
  chemicalx/models/epgcnds.py
Due: black, flake8

More documentation updates
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/drugpairbatch.py
  chemicalx/data/labeledtriples.py
  chemicalx/models/__init__.py
  chemicalx/models/audnnsynergy.py
  chemicalx/models/base.py
  chemicalx/models/caster.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/dpddi.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
  setup.py
Due: black, flake8

More docs
  chemicalx/data/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/drugpairbatch.py
  chemicalx/models/__init__.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
Due: black, flake8

Finalize flake8-docstrings
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
Due: black

Add pep8-naming
  chemicalx/models/deepsynergy.py
  tests/unit/test_models.py
  tox.ini
Due: black, flake8

Add bugbear
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  tox.ini
Due: black

Add more flake8 checks (#35)
  README.md
  chemicalx/__init__.py
  chemicalx/data/__init__.py
  chemicalx/data/batchgenerator.py
  chemicalx/data/contextfeatureset.py
  chemicalx/data/datasetloader.py
  chemicalx/data/drugfeatureset.py
  chemicalx/data/drugpairbatch.py
  chemicalx/data/labeledtriples.py
  chemicalx/models/__init__.py
  chemicalx/models/audnnsynergy.py
  chemicalx/models/base.py
  chemicalx/models/caster.py
  chemicalx/models/deepcci.py
  chemicalx/models/deepddi.py
  chemicalx/models/deepdds.py
  chemicalx/models/deepdrug.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/dpddi.py
  chemicalx/models/epgcnds.py
  chemicalx/models/gcnbmp.py
  chemicalx/models/matchmaker.py
  chemicalx/models/mhcaddi.py
  chemicalx/models/mrgnn.py
  chemicalx/models/ssiddi.py
  chemicalx/version.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
  setup.py
  tests/unit/test_batching.py
  tests/unit/test_dataset.py
  tests/unit/test_datastructures.py
  tests/unit/test_models.py
  tox.ini
Due: black, flake8

remove-dpddi-audnnsynergy
  chemicalx/models/__init__.py
  chemicalx/models/audnnsynergy.py
  chemicalx/models/dpddi.py
  docs/source/modules/root.rst
  tests/unit/test_models.py
Due: black, flake8

updatereadme
  README.md
Due: none

updatereadme
  chemicalx/__init__.py
Due: black, flake8

Remove DPDDI and AUDNNSynergy (#36)
  README.md
  chemicalx/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/audnnsynergy.py
  chemicalx/models/dpddi.py
  docs/source/modules/root.rst
  tests/unit/test_models.py
Due: black, flake8

Update documentation build
  .github/workflows/main.yaml
  .gitignore
  chemicalx/data/__init__.py
  chemicalx/models/__init__.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  docs/Makefile
  docs/requirements_1.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules/root.rst
  docs/source/notes/installation.rst
  docs/source/notes/introduction.rst
  docs/source/notes/resources.rst
  readthedocs.yaml
  setup.py
  tox.ini
Due: black, flake8

Update __init__.py
  chemicalx/models/__init__.py
Due: black, flake8

Update main.yaml
  .github/workflows/main.yaml
Due: none

Add doc8 test
  .github/workflows/main.yaml
  docs/source/notes/installation.rst
  docs/source/notes/introduction.rst
  tox.ini
Due: none

Add docstr-coverage
  .github/workflows/main.yaml
  tox.ini
Due: none

Simplify class hierarchy and fix test
  chemicalx/models/__init__.py
  chemicalx/models/base.py
  chemicalx/models/deepsynergy.py
  chemicalx/models/epgcnds.py
  chemicalx/pipeline.py
Due: black, flake8

Update
  chemicalx/models/__init__.py
  chemicalx/models/base.py
Due: black, flake8

Cleanup
  chemicalx/models/epgcnds.py
  chemicalx/pipeline.py
  examples/deepsynergy_examples.py
  examples/epgcnds_examples.py
Due: black, flake8
